#root {
  max-width: 100%;
  min-height: 100%;

  flex-grow: 1;

  display: flex;
  flex-direction: column;

  font-family: var(--ff-primary);

  background: var(--clr-neutral-050);

}

.content {
  max-width: 100%;
  min-height: 100%;

  flex-grow: 1;

  display: flex;
  flex-direction: row;

  justify-content: space-between;

  background-color: var(--clr-primary-500);
}

button.productButton {
  background: var(--clr-accent-500);

  margin-left: auto;

  border-radius: 20%;
}