#root {
  max-width: 100%;
  min-height: 100%;

  background: var(--clr-neutral-100);

  font-family: var(--ff-primary);
}

.content {
  max-width: 100%;
  min-height: 100%;
}

.content > .cart {
  width: 20%;
}