#root {
  max-width: 100%;
  min-height: 100%;

  flex-grow: 1;

  display: flex;
  flex-direction: column;

  background: var(--clr-neutral-100);

  font-family: var(--ff-primary);
}

.content {
  max-width: 100%;
  min-height: 100%;

  flex-grow: 1;

  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

button.productButton {
  background: var(--clr-accent-500);

  margin-left: auto;

  border-radius: 20%;
}