#root {
  max-width: 100%;
  min-height: 100%;

  flex-grow: 1;

  display: flex;
  flex-direction: column;

  font-family: var(--ff-primary);

  background: var(--clr-neutral-050);

}

@media (min-width: 0px) and (max-width: 576px) {
  .content {
    flex-direction: column !important;
  }
}

.content {
  max-width: 100%;
  min-height: 100%;

  flex-grow: 1;

  display: flex;
  flex-direction: row;

  justify-content: space-between;

  background-color: var(--clr-primary-600);
}