.Cart {
    min-width: 512px;
    width: 512px;

    padding: var(--gap-1);

    background: var(--clr-neutral-300);

    border-left: var(--border-1);

    box-shadow: var(--shadow-050);
}

@media (min-width: 0px) and (max-width: 576px) {
    .Cart {
        width: 100% !important;
    }
}

.Cart > .CartProductContainer {
    perspective: 0px;

    /*overflow: clip;*/

    background: var(--clr-neutral-700);

    border: var(--border-0_5);
}

.Cart > .CartPriceContainer {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.Cart h2 {
    display: inline-block;

    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
}

.Cart h2.CartHeader {
    width: 100%;

    text-align: center;
    font-weight: var(--fw-bolder);
}

.Cart h2.CartPrice {
    align-self: flex-end;

    font-weight: var(--fw-boldest);
}
