.cart {
    width: 40%;

    padding: var(--gap-1);

    background: var(--clr-neutral-300);

    border-left: var(--border-1);

    box-shadow: var(--shadow-050);
}

.cart > .CartProductContainer {
    perspective: 0px;

    /*overflow: clip;*/

    background: var(--clr-neutral-700);
}

.cart > .cartPriceContainer {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.cart h2 {
    display: inline-block;

    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
}

.cart h2.cartHeader {
    width: 100%;

    text-align: center;
    font-weight: var(--fw-bolder);
}

.cart h2.cartPrice {
    align-self: flex-end;

    font-weight: var(--fw-boldest);
}

.cart > h2:last-child > h:last-child {
    font-weight: var(--fw-boldest);
}

.cart > .CartProductContainer {
    border: var(--border-0_5);
}