.Cart {
    min-width: 512px;
    width: 512px;

    padding: var(--gap-1);

    background: var(--clr-neutral-300);

    border-left: var(--border-1);

    box-shadow: var(--shadow-050);
}

@media (min-width: 0px) and (max-width: 576px) {
    .Cart {
        width: 100% !important;
        min-width: 0 !important;
    }
}

.Cart > .CartProductContainer {
    perspective: 0px;

    /*overflow: clip;*/

    background: var(--clr-neutral-700);

    border: var(--border-0_5);
}

.Cart > .CartPriceContainer {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.Cart h2 {
    display: inline-block;

    align-self: center;

    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
}

.Cart h2.CartHeader {
    width: 100%;

    text-align: center;
    font-weight: var(--fw-bolder);
}

.Cart h2.CartPriceLabel {
    text-decoration-line: underline;

    width: 100%;
}

.Cart h2.CartPrice {
    z-index: 1;

    margin-left: auto;

    font-weight: var(--fw-boldest);

    background: var(--clr-neutral-050);

    border-radius: var(--border-radius-1);
}

@media (max-width: 576px) {
    .Cart h2.CartPrice {
        font-size: var(--fs-h3);
    }
}