@import "tailwindcss";

/* https://piccalil.li/blog/a-modern-css-reset */

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;

  /*border: solid 1px red;*/
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  width: 100%;
  height: 100%;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

p,
span {
  word-wrap: break-word;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* general styling */
p, h1, h2 {
  padding: var(--gap-1);
}

body {
  --clr-primary-500: hsl(190, 18%, 56%);

  --clr-accent-500: hsl(0, 82%, 61%);

  --clr-neutral-1000: hsl(34, 0%, 0%);
  --clr-neutral-900: hsl(34, 04%, 10%);
  --clr-neutral-800: hsl(34, 08%, 20%);
  --clr-neutral-700: hsl(34, 18%, 30%);
  --clr-neutral-600: hsl(34, 28%, 40%);
  --clr-neutral-400: hsl(34, 38%, 50%);
  --clr-neutral-500: hsl(34, 48%, 60%);
  --clr-neutral-300: hsl(34, 58%, 70%);
  --clr-neutral-250: hsl(34, 68%, 75%);
  --clr-neutral-200: hsl(34, 68%, 80%);
  --clr-neutral-150: hsl(34, 68%, 85%);
  --clr-neutral-100: hsl(34, 78%, 90%);
  --clr-neutral-050: hsl(34, 78%, 95%);
  --clr-neutral-000: hsl(34, 88%, 100%);

  --shadow-025: 0px 0.1px 1px var(--clr-neutral-700);
  --shadow-050: 0px 0.1px 4px var(--clr-neutral-700);
  --shadow-100: 0px 0.2px 6px var(--clr-neutral-800);
  --shadow-200: 0px 0.4px 6px var(--clr-neutral-800);
  --shadow-500: 0px 1px 8px var(--clr-neutral-900);
  --text-shadow-500: 0px 2px 1px var(--clr-neutral-500);

  --ff-primary: "Futara", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-header: var(--ff-primary);
  --ff-footer: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-bolder: 800;
  --fw-boldest: 900;

  --fs-0_25: calc(var(--fs-1) * 0.25);
  --fs-0_5: calc(var(--fs-1) * 0.5);
  --fs-0_75: calc(var(--fs-1) * 0.75);
  --fs-0_875: calc(var(--fs-1) * 0.875);
  --fs-1_125: calc(var(--fs-1) * 1.125);
  --fs-1_25: calc(var(--fs-1) * 1.25);
  --fs-1_3125: calc(var(--fs-1) * 1.3125);
  --fs-1_5: calc(var(--fs-1) * 1.5);
  --fs-1_75: calc(var(--fs-1) * 1.75);
  --fs-2: calc(var(--fs-1) * 2);
  --fs-2_25: calc(var(--fs-1) * 2.25);
  --fs-2_5: calc(var(--fs-1) * 2.5);
  --fs-2_75: calc(var(--fs-1) * 2.75);
  --fs-3: calc(var(--fs-1) * 3);
  --fs-3_25: calc(var(--fs-1) * 3.25);
  --fs-3_5: calc(var(--fs-1) * 3.5);
  --fs-3_75: calc(var(--fs-1) * 3.75);
  --fs-4: calc(var(--fs-1) * 4);
  --fs-4_25: calc(var(--fs-1) * 4.25);
  --fs-4_5: calc(var(--fs-1) * 4.5);
  --fs-4_75: calc(var(--fs-1) * 4.75);
  --fs-5: calc(var(--fs-1) * 5);
  --fs-1: 1rem;

  --fs-small: var(--fs-0_75);
  --fs-normal-smaller: var(--fs-1);
  --fs-normal-bigger: var(--fs-1_25);
  --fs-big: var(--fs-1_5);
  --fs-biggest: var(--fs-1_75);

  --fs-body: var(--fs-1);
  --fs-header: var(--fs-2_5);
  --fs-headerBig: var(--fs-3_5);
  --fs-headerBigger: var(--fs-4_5);
  --fs-h2: var(--fs-1_5);
  --fs-footer: var(--fs-1_25);

  --gap-0_075: calc(var(--gap-1) * 0.075);
  --gap-0_125: calc(var(--gap-1) * 0.125);
  --gap-0_25: calc(var(--gap-1) * 0.25);
  --gap-0_5: calc(var(--gap-1) * 0.5);
  --gap-0_75: calc(var(--gap-1) * 0.75);
  --gap-2: calc(var(--gap-1) * 2);
  --gap-3: calc(var(--gap-1) * 3);
  --gap-4: calc(var(--gap-1) * 4);
  --gap-5: calc(var(--gap-1) * 5);
  --gap-1: var(--fs-1);

  --border-1: var(--gap-0_125) solid var(--clr-neutral-1000);
  --border-0_5: var(--gap-0_075) solid var(--clr-neutral-1000);
  --border-radius-1: var(--fs-0_5) var(--fs-0_5);

  --flow-spacer_0_25: var(--gap-0_5);
  --flow-spacer_0_5: var(--gap-1);
  --flow-spacer: var(--gap-2);

  --aspect-portrait: 1 / 1.5;
  --aspect-wide-portrait: 1 / 1.25;
  --aspect-landscape: 1.5 / 1;

  --screen-width-small: 600px;
  --screen-width-medium: 1440px;
  --screen-width-large: 1920px;

  max-width: 100vw;
  min-height: 100vh;

  background: var(--clr-primary-500);

  font-size: var(--fs-1);

  display: flex;
  flex-direction: column;
}

/* Utility classes */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

:where(.flow > *:not(:first-child)) {
  margin-top: var(--flow-spacer, 2em);
}

:where(.flowh > *:not(:first-child)) {
  margin-left: var(--flow-spacer, 2em);
}

:where(.flow_0_5 > *:not(:first-child)) {
  margin-top: var(--flow-spacer_0_5, 1em);
}

:where(.flow_0_5h > *:not(:first-child)) {
  margin-left: var(--flow-spacer_0_5, 1em);
}

:where(.flow_0_25 > *:not(:first-child)) {
  margin-top: var(--flow-spacer_0_25, 0.5em);
}

:where(.flow_0_25h > *:not(:first-child)) {
  margin-left: var(--flow-spacer_0_25, 0.5em);
}
