nav {
    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    max-width: 100%;

    padding: var(--gap-2);

    background: var(--clr-neutral-100);

    color:var(--clr-neutral-1000);

    font-family: var(--ff-header);
    font-size: var(--fs-headerSmaller);
    font-weight: var(--fw-bolder);
    text-align: right;

    border-bottom: var(--border-1);

    box-shadow: var(--shadow-200);
}

@media (min-width: 0px) and (max-width: 576px) {
    nav {
        width: 100% !important;

        flex-direction: column !important;
    }

    nav > * {
        margin: 0 !important;
        align-self: center !important;
    }

    nav > *:not(:first-child) {
        margin-top: var(--gap-0_25) !important;
    }

    nav > .CartToggle {
        margin-top: var(--gap-1) !important;
    }
}

@media (min-width: 577px) {
    nav > *:not(:first-child) {
        margin-left: var(--gap-1);
    }
}

nav > a {
    text-shadow: var(--text-shadow-500);

    align-self: center;
}

/*nav > *:not(:first-child) {*/
/*    margin-left: var(--gap-1);*/
/*}*/

/*nav > *:last-child {*/
/*    margin-left: auto;*/
/*    margin-right: var(--gap-1);*/
/*}*/

nav > *:first-child {
    margin-right: auto;
    margin-left: var(--gap-1);

    font-size: var(--fs-headerBigger);
}

nav > *:last-child > .icon {
    position: relative;

    width: var(--fs-headerBigger);
    height: var(--fs-headerBigger);

    padding: var(--gap-0_75);

    background: var(--clr-neutral-050);

    border-radius: var(--border-radius-1);
}

nav > *:last-child > .icon > svg {
    width: 100%;
    height: 100%;
}

nav > *:last-child > .icon > .bubble {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(50%) translateY(50%);

    width: var(--fs-header);
    height: var(--fs-header);
    line-height: 1;

    background: var(--clr-accent-500);

    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav > *:last-child > .icon > .bubble > span {
    width: 100%;
    height: 100%;

    line-height: var(--fs-header);

    font-family: "Courier New", "sans-serif";
    font-size: var(--fs-headerSmaller);
}

nav > *:last-child > .icon > .bubble > span.doubleDigit {
    width: 150%;
    font-size: var(--fs-h2);
}

nav > *:last-child > .icon > .bubble > span.tripleDigit {
    font-size: var(--fs-h3);
}

nav > .active {
    color: var(--clr-accent-500);
}