nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    padding: var(--gap-1);

    background: var(--clr-neutral-100);

    color:var(--clr-neutral-1000);

    font-family: var(--ff-header);
    font-size: var(--fs-header);
    font-weight: var(--fw-bolder);

    box-shadow: var(--shadow-500);
}

nav > *:not(:first-child) {
    margin-left: var(--gap-1);
}

nav > *:last-child {
    margin-left: auto;
    margin-right: var(--gap-1);
}

nav > *:last-child > .icon {
    position: relative;

    width: var(--fs-header);
    height: var(--fs-header);
}

nav > *:last-child > .icon > svg {
    width: 100%;
    height: 100%;
}

nav > *:last-child > .icon > .bubble {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(50%) translateY(50%);

    width: var(--fs-h2);
    height: var(--fs-h2);
    line-height: 1;

    background: var(--clr-accent-500);

    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav > *:last-child > .icon > .bubble > span {
    width: 100%;
    height: 100%;

    font-size: var(--fs-h2)
}

nav > .active {
    color: var(--clr-accent-500);
}