.ProductCard {
    width: fit-content;

    border: var(--border-1);
    border-radius: var(--border-radius-1);
    overflow: hidden;

    box-shadow: var(--shadow-050);
}

.ProductCard:nth-child(odd) {
    background: var(--clr-neutral-050);
}

.ProductCard:nth-child(odd) > .container.tongue > h2 {
    background: var(--clr-neutral-200);
}

.ProductCard:nth-child(even) {
    background: var(--clr-neutral-200);
}

.ProductCard:nth-child(even) > .container.tongue > h2 {
    background: var(--clr-neutral-050);
}

.ProductCard > img {
    border-bottom: var(--border-1);

    max-width: 384px;
    max-height: 384px;
}

.ProductCard .container.tongue {
    padding: var(--gap-0_75);

    display: flex;
    flex-direction: column;

    gap: var(--gap-0_5);
}

.ProductCard .container.tongue > h2 {
    margin-bottom: calc(var(--gap-0_5) * -1);

    text-align: center;
    font-size: var(--fs-h2);
    font-weight: var(--fw-bolder);

    border: var(--border-1);
    border-radius: var(--border-radius-1);
}

/*.ProductCard .container.tongue > h2:nth-child(odd) {*/
/*    background: var(--clr-neutral-100);*/
/*}*/

/*.ProductCard .container.tongue > h2:nth-child(even) {*/
/*    background: var(--clr-neutral-200);*/
/*}*/

.ProductCard .container.tongue > h3.ProductCardPrice {
    font-size: var(--fs-h2);
    font-weight: var(--fw-boldest);
}

.ProductCard .container.tongue > .ProductCardQuantityContainer {
    display: flex;
    flex-direction: row;

    justify-content: flex-end;
}

.ProductCard .container.tongue > .ProductCardQuantityContainer > label {
    margin-right: var(--gap-0_25);

    font-weight: var(--fw-semi-bold);
}

.ProductCard .container.tongue > .ProductCardQuantityContainer > input {
    border-radius: var(--border-radius-1);

    font-weight: var(--fw-bold);
    text-align: center;

    background: var(--clr-neutral-000);
}

.ProductCard:nth-child(odd) .container.tongue > .ProductCardQuantityContainer > input {
    background: var(--clr-neutral-150);
}

.ProductCard .container.ProductCardButtonContainer {
    width: fit-content;

    margin-left: auto;

    padding: var(--gap-0_5);

    background: var(--clr-accent-500);

    border-radius: var(--border-radius-1);
}

button.ProductCardButtonBuy, button.ProductCardRemoveButton {
    background: var(--clr-accent-500);

    margin-left: auto;

    border-radius: 20%;
}