.ProductCard {
    width: 100%;

    border: var(--border-1);
    border-radius: var(--border-radius-1);
    overflow: hidden;

    box-shadow: var(--shadow-050);
}

.ProductCard:nth-child(odd) {
    background: var(--clr-neutral-050);
}

.ProductCard:nth-child(odd) > .container.tongue > h2 {
    background: var(--clr-neutral-200);
}

.ProductCard:nth-child(even) {
    background: var(--clr-neutral-200);
}

.ProductCard:nth-child(even) > .container.tongue > h2 {
    background: var(--clr-neutral-050);
}

.ProductCard > .ProductCardImgContainer {
    width: 100%;

    display: flex;
    justify-content: center;

    background: var(--clr-neutral-000);

    border-bottom: var(--border-1);
}

.ProductCard > .ProductCardImgContainer > img {
    /*max-width: 384px;*/
    /*max-height: 384px;*/

    align-self: center;
}

.ProductCard .container.tongue {
    padding: var(--gap-0_75);

    display: flex;
    flex-direction: column;

    gap: var(--gap-0_5);
}

.ProductCard .container.tongue > h2.ProductCardLabel {
    margin-bottom: calc(var(--gap-0_5) * -1);

    text-align: center;
    font-size: var(--fs-h2);
    font-weight: var(--fw-bolder);

    border: var(--border-1);
    border-radius: var(--border-radius-1);
}

/*.ProductCard .container.tongue > h2:nth-child(odd) {*/
/*    background: var(--clr-neutral-100);*/
/*}*/

/*.ProductCard .container.tongue > h2:nth-child(even) {*/
/*    background: var(--clr-neutral-200);*/
/*}*/

.ProductCard .container.tongue > h3.ProductCardPrice {
    font-size: var(--fs-h2);
    font-weight: var(--fw-boldest);
}

.ProductCard .container.tongue > .ProductCardQuantityContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;

    max-width: 100%;

    font-size: var(--fs-h3);
}

.ProductCard .container.tongue > .ProductCardQuantityContainer > label.ProductCardQuantityLabel {
    margin-right: var(--gap-0_25);

    font-weight: var(--fw-semi-bold);
}

.ProductCard .container.tongue > .ProductCardQuantityContainer > input.ProductCardQuantityInput {
    border-radius: var(--border-radius-1);

    font-weight: var(--fw-bold);
    text-align: center;

    background: var(--clr-neutral-000);
}

.ProductCard:nth-child(odd) .container.tongue > .ProductCardQuantityContainer > input.ProductCardQuantityInput {
    background: var(--clr-neutral-150);
}

.ProductCard .container.ProductCardButtonContainer {
    width: fit-content;

    margin-left: auto;
    margin-top: var(--gap-1);

    padding: var(--gap-0_5);

    background: var(--clr-accent-500);

    border-radius: var(--border-radius-1);
}

.ProductCard .container.ProductCardButtonContainer:hover {
    background: var(--clr-primary-100) !important;
}

.ProductCard .buttonProduct {
    line-height: var(--fs-h2);

    font-size: var(--fs-headerSmaller);
    font-weight: var(--fw-boldest);
}