.storeInventory {
    height: fit-content;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: var(--gap-1);

    gap: var(--gap-1);

    background: var(--clr-primary-500);
}

.storeInventory img {
    max-width: 100%;
}